.main {
    /* display: flex;
    height: 100vh; */
    font-size: 12px;
}
.main-top {
    width: 100%;
    background-color: aquamarine;
}
.main-box {
    width: 100%;
    display:flex;
    height: 100vh;
}
.main-left {
    width:15%;
}
.main-right {
    background-color: tomato;
    width: 85%;
}
.main-menu {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 10px;
}
.main-menu span {
    padding-left: 20px;
}
.menu-top  {
    margin-top: 20px;
}
.main-menu:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.main-text {
    padding: 5px 10px 5px 20px;
}
.main-category {
    display: flex;
    margin-top: 10px;
}
.main-category div {
    padding: 3px 8px;
    margin: 0px 2px;
    border-radius: 6px;
    background-color: #e5e5e5;
}
.main-category div:first-child {
    background-color: black;
    color: white
}
.main-category div:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}
.main-category div:first-child:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    color: black
}
.main-movie {
    width: 20%;
    padding: 5px;
    background-color: wheat;
}
.main-movie img {
    width: 100%;
    border-radius: 10px;
}
.movie-info {
    display: flex;
    margin-top:10px;
}
.info-img {
    text-align: center;
}
.info-img img {
    border-radius: 50px;
    width: 60%;
}
.info-detail div:first-child {
    font-weight: 600;
}
.info-detail div:nth-child(2){
    margin-top: 5px;
    font-size: 10px;
}
.info-detail div:last-child {
    font-size: 10px;
}